.*
!.gitignore
!.github
__dummy.html
/docs/
/C
/bindbc-icu
/testcases/*/*
!/testcases/*/*.json
!/testcases/*/dub.sdl
!/testcases/*/src
!/testcases/*/source
!/testcases/*/.no_*
!/testcases/*/.*_opt
*.so
*.dylib
*.dll
!/bin/**
*.a
*.lib
!/libs/**
*-test-*
*.exe
*.o
*.obj
*.lst
*.json
!dub.json
*.bat
*.ninja
/reggaefile.d
